html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100vw;
    overflow-x: hidden;
 /* background-image: linear-gradient(black, white, black); */

}
html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
* {
  box-sizing: border-box;
}
.main{
  width: 40vw;
  height: 51vh;
  background-color:white;
  display: flex;
  margin: 10px;
  /* height: 200px; */
  border-radius: 10px;
  cursor: pointer;
}
.child2{
  padding: 20px;
}
.mainContainer{
  width: 90vw;
  background-image: linear-gradient(black, white, black);
  display: flex;
  flex-wrap: wrap;  
  padding-left: 45px;
  /* margin-top: 60px; */
  /* z-index: 1; */
}
.full{
 background-image: linear-gradient(black, white, black);
  ;
  display: flex;
  justify-content: center;
  margin: 0;
}
.search {
  /* position: fixed; */
  /* width: 100%; */
  /* height: 22px; */


  margin-left:50.5vw;;
  /* margin-bottom: 20px; */
  width: 100vw;
  /* background-color:white; */
 }
input{
  width: 250px;
  height: 35px;
 margin-top: 20px;
 border-radius: 7px;
}
.child{
  position: absolute;
  background-color: white;
  width: 250px;
  /* margin-left: 20px ; */
  margin-top: 5px;
  cursor: pointer;
  z-index:1;
}
hr{
  border: 1px solid green;
  width: 85vw;
}

.logo{
color:#90EE90;
/* background-color: antiquewhite; */
font-size: 12px;
  position: relative;
  top: 5vh;
  left: -24vw;
  margin-top: -20px;
  padding:2px;
  width: 40px;
  height: 40px;
  border: 2px solid green;
  border-radius: 4px;
  
}
.card5{
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.ss{
  width: 100vw;
  height: 100%;
  background-color: black;
  margin: 0;
}
.headContainer{
  width: 100%;
  height: 100%;
  background-color: black;
}
.id{
height:90vh;
width: 30vw;
}